*{
    
     font-size: medium;
     font-family:sans-serif ;
    
}
body{
     display: flex;
     justify-content: center;
    place-content: center;
   
}
h3{
     font-size: 2em;
     font-family: 'Times New Roman';
}
p{
     font-size: 20px;
     font-family: lucida;
}
.cover{
    background-color: rgb(216, 231, 212);
     position: relative;
     padding: 30px;
     /* top: 50px; */
     height: 700px;
     width: 90%;
align-self: center;
}
.sidenav{
   /* background-image: url(/bg-sidebar-desktop.png); */
     background-color:paleturquoise;
     width: 30%;
     padding: 10px;
     height: 
     90%;
     position:relative;
     border-radius:15px ;
}

#name,#email,#number{
     border-radius: 9px;
     border-color: rgb(68, 60, 158);
     padding:10px 15px;
     font-family: chiller;
}
#name:hover ,#email:hover, #number:hover{
     border-color: rgb(90, 221, 34);
     }  
     .personalinfo{
          position: relative;
          height: 300px;
          width: 50%;
          left: 40%;
          bottom:650px;
          align-items: center;
     }
     button{
          color: antiquewhite;
          font-size: larger;
          padding: 6px;
           background-color: rgb(115, 115, 199);
          border-radius: 5px;
          box-shadow:0 6px 15px 0 rgb(15, 229, 108);
     }